.seccion-carrito {
  h2 {
    color: #000;
    text-align: center;
    margin: 3rem;
  }
}

.cabecera-tabla {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 1.5rem;
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;
  .cabecera-tabla-col {
    width: 16.6%;
    text-align: center;
    font-weight: bold;
    color: #666;
  }
}

.producto-carrito {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #80808029;

  h3,
  p,
  span {
    color: black;
  }

  & > * {
    text-align: center;
    width: 16.6%;
    max-height: 120px;
    padding: 3rem 1rem;
    border-right: 1px solid rgba(128, 128, 128, 0.262);
  }
  .contenedor-btn {
    border-right: 0;
  }
  .contenedor-cantidad {
    button {
      padding: 0.3rem;
      cursor: pointer;
      font-size: 16px;
    }
    span {
      margin: 0 0.5rem;
    }
  }

  .btn-quitar-producto-carrito {
    padding: 0.6rem 1.5rem;
    width: fit-content;
    border: 0;
    background-color: #c32c2c;
    color: #fff;
    border-radius: 30px;
    display: block;
    margin: auto;
    cursor: pointer;
    transition: all 0.4s ease;
    &:hover {
      opacity: 0.6;
    }
  }

  .imagen-producto-carrito {
    padding: 0;
    aspect-ratio: 1;
    object-fit: contain;
  }
}
.contenedor-total-carrito {
  width: 18.5%;
  margin-left: auto;
  background: #ffff;
  padding: 1.5rem;
  text-align: center;
  h2 {
    margin-bottom: 1rem;
    color: black;
    span {
      font-size: 20px;
      font-weight: 400;
    }
  }
  #btnFinalizar {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    padding: 0.4rem 1.5rem;
    display: block;
    margin: auto;
    transition: all 0.4s ease;
    &:hover {
      opacity: 0.6;
    }
  }
}

.carrito-container {
  min-height: 650px;
  padding: 50px;

  h1 {
    margin-bottom: 60px;
    color: #333;
  }
}

.carrito-vacio p {
  font-size: 18px;
  color: #666;
  margin: 20px 0;
}

.btn-shop {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn-shop:hover {
  background-color: #0056b3;
}

.mensaje-carrito-vacio {
  text-align: center;
  color: black;
}
