.product-search-container {
  width: 500px;
  input {
    background: transparent;
    border-radius: 50px;
    font-size: 14px;
    letter-spacing: 0.075em;
    width: 100%;
    padding: 12px 18px;
    border: 1px solid #fff;
  }
}
