.login-container {
  padding: 4rem;
  background-color: #f1f1f1;

  h1 {
    text-align: center;
    color: #122c45;
    margin-bottom: 2rem;
  }

  form {
    text-align: center;
    max-width: 300px;
    background-color: #e1e1e1;
    padding: 2.5rem;
    border-radius: 10px;
  }

  input {
    width: 100%;
    display: block;
    background-color: #fff;
    border: none;
    margin: 10px;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    color: black;
  }

  button {
    display: block;
  }

  p {
    color: rgb(113, 113, 113);
  }
}

.login-actions {
  color: #122c45;
  font-weight: 600;
  font-size: 14px;
}

.login-button {
  margin: 0 auto;
  padding: 8px 16px;
  border-radius: 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
  background-color: #122c45;
  margin-top: 15px;
  margin-bottom: 30px;
}

.login-button:hover {
  background-color: #1f5486;
}
